<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Weathertop </a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
  <script>
  $("#{{id}}").addClass("active item");
</script>
</nav>

<br>
<section class="ui center aligned middle aligned row">
  <h1 class="ui header segment" style="font-size: xxx-large; text-align: center; font-family: Helvetica">
    Welcome to WeatherTop
  </h1>
  <br>
  <div class="ui row">
    <div class="ui grid">
      <div class="ui left floated column">
        <iframe width="512" height="292" src="https://www.youtube.com/embed/JI63MU3AEMk?&autoplay=1"
                title="YouTube video player"
                allow="accelerometer; clipboard-write; encrypted-media; autoplay; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="ui right floated segment">
        <h2>NATIONAL OUTLOOK</h2><i class="twitter icon"></i>@WeatherTopIrl
        <h3>Summary:</h3>
        <p>Turning cooler and cloudier for early next week but there will<br>
          be a return to milder conditions toward the end of the week.</p>
        <p>
        <h3>Sunday night:</h3>
        <p>Becoming a little cloudier overnight with patchy rain or drizzle.<br>
          Lowest temperatures of 5 to 10 degrees as winds fall light northerly or variable.</p>
        <p>
        <h3>Monday:</h3>
        <p>A cooler, cloudier day with scattered light showers and just occasional brighter spells.<br>
          Highest temperatures of 11 to 15 degrees in light to moderate northwesterly breezes.</p>
        <h3>Monday night:</h3>
        <p>Showers will die out early in the night leaving a mix of cloud and clear spells.<br>
          Lowest temperatures of 4 to 8 degrees in mostly light northwesterly breezes. </p>
      </div>
    </div>
  </div>
</section>