{{> menu id="about"}}

<section class="ui center aligned middle aligned column">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui raised center aligned segment">
        <h2>About Us</h2>
        <br>
        <p>
          Welcome to our website! Weather top is a Web Application to accompany the Weather Top 1000. A modular weather
          station that allows amateur and professional whether enthusiasts alike
          to record and upload data from their own automatic weather station to a free-to-use (and ad-free!) website. As
          this is a community lead project the
          observations are from different sources, As such the quality varies from source to source and the data is not
          reviewed or corrected.
          Data may be missing from time to time and occasional spikes may occur but you, the early adopter can help make
          this the most accurate weather app in Ireland and someday the world.
        </p>
        <br>
      </div>
      <div class="column">
        <div class="ui raised center aligned segment">
          <h2>Contact Us</h2>
          <br>
          <p>
            If you'd like to learn more about our product or simply want to join our mailing list please don't hesitate
            to get in touch via E-Mail or our social media pages.
            <br> E-Mail: info@weathertop.ie
            <br>
          <h2 class="ui header">
            <i class="large icons">
              <i class="twitter icon"></i>
              <i class="inverted corner add icon"></i>
            </i>
            Follow us on Twitter
          </h2>
          </p>
          <br>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui image" src="https://cdn.glitch.global/f1eebe99-3876-4f6c-a932-96109a1e9047/Ireland_Map.jpg?v=1662845578070">
      </div>
    </div>
  </div>
</section>